/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');*/
/*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";*/
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
@font-face {
    font-family: 'NanumBarunGothic';
    src: url(../font/NanumBarunGothic.ttf) format('truetype');
}
/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration:none;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main{
    display: block;
}
body {
    line-height: 1;
}
html, body{width:100%; min-height:100%; min-width: 1390px; font-family: "NanumBarunGothic",'Malgun Gothic','ë§‘ì€ ê³ ë”•',dotum,'ë‹ì›€',sans-serif; font-size:14px; color:#636466;}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{width:100%;}
a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a:active, a:hover {
    color: #666;
    text-decoration: none;
}
/* reset css END */

/* COMMON */
#btn_top{display:none; position: fixed; left:50%; margin-left:600px; bottom:200px; z-index:100; background:url(../images/lohbs_ico.png) no-repeat; background-position: -264px 0px; width:33px; height:34px; cursor: pointer;}
#lohbsWrap{min-height:100%;}
*+html #lohbsWrap { height: auto !important;}
#lohbsWrap h3{padding:20px 0;}
#lohbsWrap .innerWrap{width:980px; height:100%; margin:0 auto; position:relative;}
.dotted {width:100%; height:100%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
	-webkit-background-size: 3px 3px;
	-moz-background-size: 3px 3px;
	background-size: 3px 3px;
	background-color: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);
	-ms-  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);
}
.map_ico{background:url(../images/store/map_ico_01.png) no-repeat; background-size:27px 47px; background-position: center;}
.map_ico a{display: block; height:57px; text-indent: -9999px;}

/* LOHBs INDEX(WEB STANDARD) */
#lohbsIndex{position: relative; top: -100px; z-index: 1000;}
#lohbsIndex a{position: absolute; top: -30px; left: 0; width: 180px; border: 1px solid #ff4e00; text-align: center;}

/* LOHBs HEADER */
#lohbsHead{width: 100%; position: relative; min-height:300px;}
#lohbsHead:after{clear: both; content: ''; display: block;}

/* ë¡­ìŠ¤ì†Œê°œ ë©”ì¸ì´ë¯¸ì§€ */
#lohbsHead .intro{width:100%; height:560px; text-align:center; position:relative; 
	background: url("../images/main_bg/main_background.jpg") no-repeat center center;
	behavior: url(backgroundsize.htc);
	-ms-behavior: url(backgroundsize.htc);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
}
#lohbsHead .intro .lohbsMtitle{width:841px; height:60px; position:absolute; top:192px; left:50%; margin-left:-420px; font-size:60px; font-weight:bold;}
#lohbsHead .intro .lohbsMtitle span{width:841px; height:60px; background: url("../images/lohbs_txt.png") no-repeat 0px 0px; display:block; text-indent:-9999px;}
#lohbsHead .intro .lohbsStitle{width:100%; text-align:center; position: absolute; top:285px; left:0; line-height:2;}

/* ë¡­ìŠ¤ëª¨ë°”ì¼ ë©”ì¸ì´ë¯¸ì§€ */
#lohbsHead .mobile{width:100%; height:560px; text-align:center; position:relative; 
	background: url("../images/main_bg/mobile_background.jpg") no-repeat center center;
	behavior: url(backgroundsize.htc);
	-ms-behavior: url(backgroundsize.htc);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#lohbsHead .mobile .innerWrap{height:560px;}
*+html #lohbsHead .mobile .innerWrap{height:auto !important; min-height:100%;}
#lohbsHead .mobile ul{position: absolute; top:333px; right:40px;}
#lohbsHead .mobile ul:after{clear:both; display:block; contents:'';}
#lohbsHead .mobile ul li{float:left; width:120px; height:120px; margin:0 10px;}
#lohbsHead .mobile ul li a{display: block;}
#lohbsHead .mobile .lohbsMtitle{text-align:center; position: absolute; top:128px; right:50px; font-size:60px; font-weight:bold;}
#lohbsHead .mobile .lohbsMtitle span{width:395px; height:50px; background: url("../images/lohbs_txt.png") no-repeat 0px -250px; display:block; text-indent:-9999px;}
#lohbsHead .mobile .lohbsStitle{text-align:center; position: absolute; top:198px; right:48px; color:#000; line-height:1.5;}
#lohbsHead .mobile .lohbsStitle .line{width:400px; height:1px; background:#777; margin:12px 0; display:block;}
.mobileMimg{width:340px; height:460px; background:url("../images/mobile/mobile_hand.png"); background-size:340px 460px; position: absolute; bottom:0; left:60px;}

/* ë¡­ìŠ¤ë§¤ìž¥ ë©”ì¸ì´ë¯¸ì§€ */
#lohbsHead .store{width:100%; height:225px; text-align:center; position:relative;
	background: url("../images/main_bg/store_background.jpg") no-repeat center center;
	behavior: url(backgroundsize.htc);
	-ms-behavior: url(backgroundsize.htc);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
}
#lohbsHead .store .lohbsMtitle{width:100%; text-align:center; position: absolute; top:300px; left:0; font-size:60px; font-weight:bold;}
#lohbsHead .store .lohbsStitle{width:100%; text-align:center; position: absolute; top:380px; left:0; line-height:2;}

/* ê³ ê°ë¬¸ì˜ ë©”ì¸ì´ë¯¸ì§€ */
#lohbsHead .customer{width:100%; height:225px; text-align:center; position:relative; 
	background: url("../images/main_bg/customer_background.jpg") no-repeat center center;
	behavior: url(backgroundsize.htc);
	-ms-behavior: url(backgroundsize.htc);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
}
#lohbsHead .customer .lohbsMtitle{width:100%; text-align:center; position: absolute; top:300px; left:0; font-size:60px; font-weight:bold;}
#lohbsHead .customer .lohbsStitle{width:100%; text-align:center; position: absolute; top:380px; left:0; line-height:2;}

#lohbsHead .lohbsMimg{display:none;}
#lohbsHead .inner{width: 100%; height:70px; position:absolute; bottom:-30px; z-index: 1;}
#lohbsHead .lohbsLogo{height: 70px; line-height: 70px; margin: 0 auto; background: #ff4e00; text-align: center;}
#lohbsHead .lohbsLogo a{display: inline-block; height:70px; width:100px;}
#lohbsHead .lohbsLogo img{padding-top:22px; vertical-align: top;}
#lohbsHead .lohbsGnb{width:980px; height:70px; line-height:70px; margin:0 auto; background: #fff; border-bottom:1px solid #ff4e00;}
#lohbsHead .lohbsGnb .on{background: #ff4e00;}
#lohbsHead .lohbsGnb a{display:block;}
#lohbsHead .lohbsGnb .on a{color: #fff;}
#lohbsHead .lohbsGnb ul li{float: left; width: 25%; text-align: center;}
#lohbsHead .lohbsGnb ul:after{clear: both; content: ''; display: block;}

/* ///////////////////////////////////////////////////////////////////////////////// LOHBs INTRO */

#lohbsContents .lohbsIntro .snsList{position:absolute; top:113px; left:0; z-index:1;}
#lohbsContents .lohbsIntro .snsList a{display:block;}
#lohbsContents .lohbsIntro .snsList ul:after{clear:both; display:block; content: '';}
#lohbsContents .lohbsIntro .snsList ul li{width:245px; height:245px; float:left; background:#636466;}
#lohbsContents .lohbsIntro .snsList ul li.double{width:490px; font-size: 30px;}
/* #lohbsContents .lohbsIntro .snsList ul li.double p{line-height: 1.5; margin-top:50px;}
#lohbsContents .lohbsIntro .snsList ul li.double span{font-weight: bold;} */
#lohbsContents .lohbsIntro .snsList ul li.empty{opacity: 0; filter: alpha(opacity=0);}
#lohbsContents .lohbsSns{height:750px;}

#lohbsContents .lohbsStory{height:1793px;}
#lohbsContents .lohbsStory .storyHeader{height:569px; background:url(../images/main_bg/m_back0.png) no-repeat; color:#fff;}
#lohbsContents .lohbsStory .storyHeader .innerWrap{height:569px;}
#lohbsContents .lohbsStory .storyHeader h3{width:351px; height: 168px; background:url(../images/lohbs_txt.png) no-repeat -648px -244px; padding:0; position:absolute; top: 227px; left:-100px; text-indent:-9999px;}
#lohbsContents .lohbsStory .storyHeader p{position:absolute; top: 422px; line-height:2; font-size:16px;}
#lohbsContents .lohbsStory .storyBody{height:1225px;}
#lohbsContents .lohbsStory .storyValue{width:980px; height:578px; margin:0 auto; padding-top:60px; text-align: center;}
#lohbsContents .lohbsStory .storyValue img{width:22px;}
#lohbsContents .lohbsStory .storyValue h4{font-size:40px; font-weight:normal; padding: 20px 0; color:#6d6e70;}
#lohbsContents .lohbsStory .storyValue ul li{float:left; width:326.66px; margin-top:110px;}
#lohbsContents .lohbsStory .storyValue ul li.philosophy{clear: both; content: ''; display: block; float:none; width:462px; margin:0 auto; padding-top:110px;}
#lohbsContents .lohbsStory .storyValue ul li p{line-height:2;}
#lohbsContents .lohbsStory .storyValue ul:after{clear: both; content: ''; display: block;}
#lohbsContents .lohbsStory .storyPurpose{width:1390px; margin:0 auto; padding-top:60px; text-align: center;}
#lohbsContents .lohbsStory .storyPurpose ul li{float:left; width:480px;}
#lohbsContents .lohbsStory .storyPurpose ul li.center{width:370px; margin:0 30px;}
#lohbsContents .lohbsStory .storyPurpose ul:after{clear: both; content: ''; display: block;}

#lohbsContents .lohbsStory .storyValue ul li span{width:22px; height:27px; display:block; margin:0 auto;}
.v_slogan span{background:url("../images/lohbs_ico.png") no-repeat; background-position: 0px 0px;}
.v_mission span{background:url("../images/lohbs_ico.png") no-repeat; background-position: -33px 0px;}
.v_vision span{background:url("../images/lohbs_ico.png") no-repeat; background-position: -66px 0px;}
.philosophy span{background:url("../images/lohbs_ico.png") no-repeat; background-position: -99px 0px;}

#lohbsContents .lohbsValue{height:1480px;}
#lohbsContents .lohbsValue .valueHeader{height:393px; background: url(../images/main_bg/v_back0.png) no-repeat; color:#fff;}
#lohbsContents .lohbsValue .valueHeader h3{width:338px; height: 69px; background:url(../images/lohbs_txt.png) no-repeat -665px -443px; padding:0; position:absolute; top: 141px; left:-100px; text-indent:-9999px;}
#lohbsContents .lohbsValue .valueHeader p{position:absolute; top: 252px; line-height:2; font-size: 16px;}
#lohbsContents .lohbsValue .valueContents{height:949px; padding-top:138px; background:url(../images/main_bg/v_back1.png) no-repeat;}
#lohbsContents .lohbsValue .valueContents ul li{width:326.66px; height:409px; float:left; color:#fff; text-align: center; position:relative;}
#lohbsContents .lohbsValue .valueContents ul:after{clear: both; content: ''; display: block;}
#lohbsContents .lohbsValue .valueContents .valueNum{padding-left:33px; font-size:30px; font-weight:bold; text-align:left;}
#lohbsContents .lohbsValue .valueContents .valueOffer{margin-top:33px;}
#lohbsContents .lohbsValue .valueContents .valueOffer strong{font-size:30px; font-weight:normal;}
#lohbsContents .lohbsValue .valueContents .valueOffer img{width:90px; height:120px;}
#lohbsContents .lohbsValue .valueContents .valueOffer p{line-height: 1.8;}
#lohbsContents .lohbsValue .valueContents .valueOffer .offerTitle{margin-top:20px; margin-bottom:20px; line-height: 1.4;}

#lohbsContents .lohbsValue .valueContents span{width:17px; height:18px; background:url("../images/lohbs_ico.png") no-repeat; background-position: -313px 0px; position:absolute; top:0; left:0;}


#lohbsContents .lohbsCi{height:1221px;}
#lohbsContents .lohbsCi .ciHeader{height:434px; background: url(../images/main_bg/v_back2.png) no-repeat; color:#fff;}
#lohbsContents .lohbsCi h3{width:195px; height: 69px; background:url(../images/lohbs_txt.png) no-repeat -806px -552px; padding:0; position:absolute; top: 135px; left:-100px; text-indent:-9999px;}
#lohbsContents .lohbsCi p{position:absolute; top: 238px; line-height:2; font-size:16px;}
#lohbsContents .lohbsCi .ciHeader ul{position:absolute; right:0; bottom:80px;}
#lohbsContents .lohbsCi .ciHeader ul li{float:left; margin-right: 5px; width:181px; height:45px;}
#lohbsContents .lohbsCi .ciHeader ul:after{clear: both; content: ''; display: block;}
#lohbsContents .lohbsCi .ciContents{height:787px; background: url("../images/main_bg/ci_background.jpg"); background-size: cover;}
#lohbsContents .lohbsCi .ciContents ul li{width:489px; height:787px; float:left; margin-right: -1px;}
#lohbsContents .lohbsCi .ciContents ul li img{height:787px;}
#lohbsContents .lohbsCi .ciContents ul:after{clear: both; content: ''; display: block;}

#lohbsContents .lohbsRecruit{height:554px; background: #42b1b8; color:#fff;}
#lohbsContents .lohbsRecruit .recruit_img{background:url(../images/etc/re_hand.png) no-repeat; background-size:460px 554px; width:460px; height:554px; position:absolute; right:0; top:0;}
#lohbsContents .lohbsRecruit h3{width:411px; height: 69px; background:url(../images/lohbs_txt.png) no-repeat -588px -661px; padding:0; position:absolute; top: 154px; left:-100px; text-indent:-9999px;}
#lohbsContents .lohbsRecruit p{position:absolute; top: 265px; line-height:2;}
#lohbsContents .lohbsRecruit p.recruit_pop{position:absolute; top: 350px; background:#fff; width:265px; text-align:center; color:#42b1b8; padding:10px; cursor: pointer}
#lohbsContents .lohbsRecruit p.recruit_pop span{background: url(../images/lohbs_ico.png) no-repeat; background-position:-132px 0px; margin-left:10px; display:inline-block; width:14px; text-indent: -9999px;}

#popContents{display:none; width:900px; position: fixed; top:50px; left:50%; margin-left:-470px; z-index:101; overflow-y:scroll; height:100%;}
.pop_bg{display:none; position: fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.6); z-index:100;}
.popHeader{width:900px; height:278px; background: url(../images/popup/join_guide_pop01.jpg) no-repeat; background-size: 900px 278px; position:relative;}
.popHeader span{width:27px; height:27px; background:url(../images/lohbs_ico.png) no-repeat -973px 0px; position:fixed; top:50px; left:50%; margin-left: 430px; text-indent:-9999px; cursor:pointer;}
.popContents{width:900px; height:1941px; margin:0 auto; background: url(../images/popup/join_guide_pop02.jpg) no-repeat; background-size: 900px 1941px; position:relative;}
.popContents span{width:240px; height:45px; background:url(../images/lohbs_ico.png) no-repeat -388px -51px; position:absolute; bottom:100px; left:50%; margin-left:-120px; text-indent:-9999px; cursor:pointer;}
.provisionArea{background:#fff; width:900px; line-height: 2;}
.provisionArea.pv01 .popHeader{width:900px; height:100px; background: url(../images/popup/pv_pop01.jpg) no-repeat; background-size: 900px 100px; position:relative;}
.provisionArea.pv02 .popHeader{width:900px; height:100px; background: url(../images/popup/pv_pop02.jpg) no-repeat; background-size: 900px 100px; position:relative;}
.provisionArea.pv03 .popHeader{width:900px; height:100px; background: url(../images/popup/pv_pop03.jpg) no-repeat; background-size: 900px 100px; position:relative;}
.provisionArea .AGRM_CONT{padding:50px;}
.provisionArea table thead th {background: #f6f4f1; color: #333; padding: 5px 0; border: 1px solid #d6d6d6;}
.provisionArea table td {padding: 5px; border: 1px solid #d6d6d6; text-align: center;}
.fileDown a{display: block; height:100%;}
.lohbshr{position:absolute; width:100%; bottom:177px; line-height:2; left:0; text-align:center;}
.lohbshr a{color:#ff3300;}
.modal-open{overflow:hidden;}

/* ///////////////////////////////////////////////////////////////////////////////// LOHBs MOBILE */
#lohbsContents .lohbsMobile{/* margin-top:50px; */margin-bottom:50px;}
#lohbsContents .lohbsMobile section{height:778px;}
#lohbsContents .lohbsMobile .mobileStamp, .mobileLpoint, .mobileShopping, .mobileTip{background:#f2f4f5;}
#lohbsContents .lohbsMobile .mobileShop, .mobilePoint, .mobileCoupon, .mobileMap{background:#f0f0ed;}
#lohbsContents .lohbsMobile .mobileDeal {background:#fff;}
#lohbsContents .lohbsMobile strong{font-weight:bold;}
#lohbsContents .lohbsMobile h3{font-size:60px; font-weight:bold ; color:#ff3300; padding-top:260px;}
#lohbsContents .lohbsMobile h4{font-size:40px; font-weight: normal; line-height:1.2; color:#1f1f20;}
#lohbsContents .lohbsMobile p{margin-top:15px; line-height:1.8;}

#lohbsContents .lohbsMobile .leftWrap{padding-left:85px; height:100%;}
#lohbsContents .lohbsMobile .leftWrap img{position: absolute; top:140px; right:118px; width:375px; z-index:1;}

#lohbsContents .lohbsMobile .mobileShopping .leftWrap img{width:435px; top:105px; right:0px;}
#lohbsContents .lohbsMobile .mobileLpoint .leftWrap img{position: absolute; top:108px; right:50px; width:336px; z-index:1;}
#lohbsContents .lohbsMobile .mobilePoint .leftWrap img{position: absolute; top:108px; right:0px; width:595px; z-index:1;}
#lohbsContents .lohbsMobile .mobileTip .leftWrap img{width:326px; top:105px; right:0px; z-index:1;}

#lohbsContents .lohbsMobile .rightWrap{padding-right:85px; height:100%; text-align:right;}
#lohbsContents .lohbsMobile .rightWrap .Rtxt{position:absolute; top:0; right:0; text-align: left;}
#lohbsContents .lohbsMobile .rightWrap img{position: absolute; top:108px; left:0; width:inherit; z-index:1;}

#lohbsContents .lohbsMobile .mobileCoupon .rightWrap img{left:85px;}
#lohbsContents .lohbsMobile .mobileDeal .rightWrap img{position: absolute; top:130px; left:145px; width:339px; z-index:1;}
#lohbsContents .lohbsMobile .mobileDeal .rightWrap .Rtxt{right:0;}
#lohbsContents .lohbsMobile .mobileStamp .rightWrap img{position: absolute; top:108px; left:20px; width:493px; z-index:1;}
#lohbsContents .lohbsMobile .mobileMap .rightWrap img{position: absolute; top:108px; left:70px; width:429px; z-index:1;}
/* ///////////////////////////////////////////////////////////////////////////////// LOHBs MOBILE END*/

/* mobileLpoint section */
#lohbsContents .lohbsMobile .mobileLpoint .m_ico01{width:145px; height:157px; background:url("../images/animation/lpoint_ani_01.png") no-repeat; background-size:100%; position:absolute; top:285px;right:336px;}
#lohbsContents .lohbsMobile .mobileLpoint .m_ico02{width:179px; height:104px; background:url("../images/animation/lpoint_ani_02.png") no-repeat; background-size:100%; position:absolute; top:516px;right:-47px;}
#lohbsContents .lohbsMobile .mobileLpoint .m_ico03{width:86px; height:98px; background:url("../images/animation/lpoint_ani_03.png") no-repeat; background-size:100%; position:absolute; top:500px;left:442px;}
#lohbsContents .lohbsMobile .mobileLpoint .m_ico04{width:120px; height:107px; background:url("../images/animation/lpoint_ani_04.png") no-repeat; background-size:100%; position:absolute; top:300px;right:-138px;}
#lohbsContents .lohbsMobile .mobileLpoint.over .m_ico01{	
	-webkit-animation: mlpoint 1s ease-in-out;	
	-ms-animation: mlpoint 1s ease-in-out;	
	-o-animation: mlpoint 1s ease-in-out;	
	-moz-animation: mlpoint 1s ease-in-out;
}
@-webkit-keyframes mlpoint {
	0% {top:285px;right:200px;}
	100% {top:285px;right:336px;}
} 
@-ms-keyframes mlpoint {
	0% {top:285px;right:200px;}
	100% {top:285px;right:336px;}
}
@-o-keyframes mlpoint {
	0% {top:285px;right:200px;}
	100% {top:285px;right:336px;}
}
@-moz-keyframes mlpoint {
	0% {top:285px;right:200px;}
	100% {top:285px;right:336px;}
}

#lohbsContents .lohbsMobile .mobileLpoint.over .m_ico02{
	-webkit-animation: mlpoint02 1s ease-in-out;	
	-ms-animation: mlpoint02 1s ease-in-out;	
	-o-animation: mlpoint02 1s ease-in-out;	
	-moz-animation: mlpoint02 1s ease-in-out;
}
@-webkit-keyframes mlpoint02 {
	0% {top:516px;right:90px;}
	100% {top:516px;right:-47px;}
}
@-ms-keyframes mlpoint02 {
	0% {top:516px;right:90px;}
	100% {top:516px;right:-47px;}
}
@-o-keyframes mlpoint02 {
	0% {top:516px;right:90px;}
	100% {top:516px;right:-47px;}
}
@-moz-keyframes mlpoint02 {
	0% {top:516px;right:90px;}
	100% {top:516px;right:-47px;}
}

#lohbsContents .lohbsMobile .mobileLpoint .m_ico05{width:698px; height:90px; background:url("../images/animation/lpoint_ani_05.png") no-repeat; background-size:100%; position:absolute; right:-165px; top:262px;}
#lohbsContents .lohbsMobile .mobileLpoint .m_ico06{width:119px; height:301px; background:url("../images/animation/lpoint_ani_06.png") no-repeat; background-size:100%; position:absolute; left:400px; top:220px;}
#lohbsContents .lohbsMobile .mobileLpoint.over .m_ico05{
	animation: blink 1s step-end infinite;
	-webkit-animation: blink 1s step-end infinite;
}
#lohbsContents .lohbsMobile .mobileLpoint.over .m_ico06{
	animation: blink2 1s step-end infinite;
	-webkit-animation: blink2 1s step-end infinite;
}
@keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@-webkit-keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}
@-webkit-keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}

/* mobileShop section 
#lohbsContents .lohbsMobile .m_ico01{width:88px; height:114px; background:url("../images/animation/m_ani_01.png") no-repeat; background-size:100%; position:absolute; top:345px;right:485px;}
#lohbsContents .lohbsMobile .m_ico02{width:67px; height:86px; background:url("../images/animation/m_ani_02.png") no-repeat; background-size:100%; position:absolute; top:500px;right:40px;}
#lohbsContents .lohbsMobile .m_ico03{width:108px; height:145px; background:url("../images/animation/m_ani_03.png") no-repeat; background-size:100%; position:absolute; top:500px;right:390px;}
#lohbsContents .lohbsMobile .m_ico04{width:117px; height:154px; background:url("../images/animation/m_ani_04.png") no-repeat; background-size:100%; position:absolute; top:250px;right:0px;}
#lohbsContents .lohbsMobile .mobileShop.over .m_ico01{	
	-webkit-animation: mshop01 1s ease-in-out;	
	-ms-animation: mshop01 1s ease-in-out;	
	-o-animation: mshop01 1s ease-in-out;	
	-moz-animation: mshop01 1s ease-in-out;
}
@-webkit-keyframes mshop01 {
	0% {top:300px;right:200px;}
	100% {top:345px;right:485px;}
} 
@-ms-keyframes mshop01 {
	0% {top:300px;right:200px;}
	100% {top:345px;right:485px;}
}
@-o-keyframes mshop01 {
	0% {top:300px;right:200px;}
	100% {top:345px;right:485px;}
}
@-moz-keyframes mshop01 {
	0% {top:300px;right:200px;}
	100% {top:345px;right:485px;}
}
 
#lohbsContents .lohbsMobile .mobileShop.over .m_ico02{
	-webkit-animation: mshop02 2s ease-in-out;	
	-ms-animation: mshop02 2s ease-in-out;	
	-o-animation: mshop02 2s ease-in-out;	
	-moz-animation: mshop02 2s ease-in-out;
}
@-webkit-keyframes mshop02 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:40px;}
}
@-ms-keyframes mshop02 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:40px;}
}
@-o-keyframes mshop02 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:40px;}
}
@-moz-keyframes mshop02 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:40px;}
}

#lohbsContents .lohbsMobile .mobileShop.over .m_ico03{
	-webkit-animation: mshop03 1s ease-in-out;	
	-ms-animation: mshop03 1s ease-in-out;	
	-o-animation: mshop03 1s ease-in-out;	
	-moz-animation: mshop03 1s ease-in-out;
}
@-webkit-keyframes mshop03 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:390px;}
}
@-ms-keyframes mshop03 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:390px;}
}
@-o-keyframes mshop03 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:390px;}
}
@-moz-keyframes mshop03 {
	0% {top:300px;right:200px;}
	100% {top:500px;right:390px;}
}

#lohbsContents .lohbsMobile .mobileShop.over .m_ico04{
	-webkit-animation: mshop04 1s ease-in-out;	
	-ms-animation: mshop04 1s ease-in-out;	
	-o-animation: mshop04 1s ease-in-out;	
	-moz-animation: mshop03 1s ease-in-out;
}
@-webkit-keyframes mshop04 {
	0% {top:300px;right:200px;}
	100% {top:250px;right:0px;}
}
@-ms-keyframes mshop04 {
	0% {top:300px;right:200px;}
	100% {top:250px;right:0px;}
}
@-o-keyframes mshop04 {
	0% {top:300px;right:200px;}
	100% {top:250px;right:0px;}
}
@-moz-keyframes mshop04 {
	0% {top:300px;right:200px;}
	100% {top:250px;right:0px;}
}
*/

/* moblieCoupon section */
#lohbsContents .lohbsMobile .mobileCoupon .m_ico01{width:129px; height:139px; background:url("../images/animation/coupon_ani_01.png") no-repeat; background-size:100%; position:absolute; top:0px; left:3px; opacity:0;}
#lohbsContents .lohbsMobile .mobileCoupon .m_ico02{width:145px; height:151px; background:url("../images/animation/coupon_ani_02.png") no-repeat; background-size:100%; position:absolute; top:0px; left:350px; opacity:0;}
#lohbsContents .lohbsMobile .mobileCoupon .m_ico03{width:189px; height:292px; background:url("../images/animation/coupon_ani_03.png") no-repeat; background-size:100%; position:absolute; top:270px; left:-125px;}
#lohbsContents .lohbsMobile .mobileCoupon .m_ico04{width:210px; height:298px; background:url("../images/animation/coupon_ani_04.png") no-repeat; background-size:100%; position:absolute; top:225px; left:395px;}
#lohbsContents .lohbsMobile .mobileCoupon.over .m_ico01{
	opacity:1;
	top:395px;
	transition: all 0.3s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#lohbsContents .lohbsMobile .mobileCoupon.over .m_ico02{
	opacity:1;
	top:435px;
	transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#lohbsContents .lohbsMobile .mobileCoupon.over .m_ico03{
	animation: mcoupon03 0.7s ease-in-out;
	-webkit-animation: mcoupon03 0.7s ease-in-out;	
	-ms-animation: mcoupon03 0.7s ease-in-out;	
	-o-animation: mcoupon03 0.7s ease-in-out;	
	-moz-animation: mcoupon03 0.7s ease-in-out;
}
@-webkit-keyframes mcoupon03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:0px; width:0; height:0;}
	100% {top:270px; left:-125px; width:189px; height:292px;}
}
@-ms-keyframes mcoupon03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:0px; width:0; height:0;}
	100% {top:270px; left:-125px; width:189px; height:292px;}
}
@-o-keyframes mcoupon03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:0px; width:0; height:0;}
	100% {top:270px; left:-125px; width:189px; height:292px;}
}
@-moz-keyframes mcoupon03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:0px; width:0; height:0;}
	100% {top:270px; left:-125px; width:189px; height:292px;}
}
#lohbsContents .lohbsMobile .mobileCoupon.over .m_ico04{
	animation: mcoupon04 0.7s ease-in-out;
	-webkit-animation: mcoupon04 0.7s ease-in-out;	
	-ms-animation: mcoupon04 0.7s ease-in-out;	
	-o-animation: mcoupon04 0.7s ease-in-out;	
	-moz-animation: mcoupon04 0.7s ease-in-out;
}
@-webkit-keyframes mcoupon04 {
	0% {top:420px; left:0px; width:0; height:0;}
	50% {top:420px; left:0px; width:0; height:0;}
	100% {top:225px; left:395px; width:210px; height:298px;}
}
@-ms-keyframes mcoupon04 {
	0% {top:420px; left:0px; width:0; height:0;}
	50% {top:420px; left:0px; width:0; height:0;}
	100% {top:225px; left:395px; width:210px; height:298px;}
}
@-o-keyframes mcoupon04 {
	0% {top:420px; left:0px; width:0; height:0;}
	50% {top:420px; left:0px; width:0; height:0;}
	100% {top:225px; left:395px; width:210px; height:298px;}
}
@-moz-keyframes mcoupon04 {
	0% {top:420px; left:0px; width:0; height:0;}
	50% {top:420px; left:0px; width:0; height:0;}
	100% {top:225px; left:395px; width:210px; height:298px;}
}
/* mobileDeal section */
#lohbsContents .lohbsMobile .mobileDeal .m_ico01{width:288px; height:217px; background:url("../images/animation/deal_ani_01.png") no-repeat; background-size:100%; position:absolute; top:432px; left:-56px; opacity:1;}
#lohbsContents .lohbsMobile .mobileDeal .m_ico02{width:231px; height:206px; background:url("../images/animation/deal_ani_02.png") no-repeat; background-size:100%; position:absolute; top:432px; left:419px; opacity:1;}
#lohbsContents .lohbsMobile .mobileDeal .m_ico03{width:215px; height:132px; background:url("../images/animation/deal_ani_03.png") no-repeat; background-size:100%; position:absolute; top:248px; left:-71px;}
#lohbsContents .lohbsMobile .mobileDeal .m_ico04{width:214px; height:133px; background:url("../images/animation/deal_ani_04.png") no-repeat; background-size:100%; position:absolute; top:270px; left:474px;}
#lohbsContents .lohbsMobile .mobileDeal.over .m_ico01{
	-webkit-animation: mdeal01 1s ease-in-out;	
	-ms-animation: mdeal01 1s ease-in-out;	
	-o-animation: mdeal01 1s ease-in-out;	
	-moz-animation: mdeal01 1s ease-in-out;
}
@-webkit-keyframes mdeal01 {
	0% {top:432px;left:-100px;opacity:0;}
	100% {top:432px;left:-56px;opacity:1;}
}
@-ms-keyframes mdeal01 {
	0% {top:432px;left:-100px;opacity:0;}
	100% {top:432px;left:-56px;opacity:1;}
}
@-o-keyframes mdeal01 {
	0% {top:432px;left:-100px;opacity:0;}
	100% {top:432px;left:-56px;opacity:1;}
}
@-moz-keyframes mdeal01 {
	0% {top:432px;left:-100px;opacity:0;}
	100% {top:432px;left:-56px;opacity:1;}
}

#lohbsContents .lohbsMobile .mobileDeal.over .m_ico02{
	-webkit-animation: mdeal02 1s ease-in-out;	
	-ms-animation: mdeal02 1s ease-in-out;	
	-o-animation: mdeal02 1s ease-in-out;	
	-moz-animation: mdeal02 1s ease-in-out;
}
@-webkit-keyframes mdeal02 {
	0% {top:432px;left:480px;opacity:0;}
	100% {top:432px;left:419px;opacity:1;}
}
@-ms-keyframes mdeal02 {
	0% {top:432px;left:480px;opacity:0;}
	100% {top:432px;left:419px;opacity:1;}
}
@-o-keyframes mdeal02 {
	0% {top:432px;left:480px;opacity:0;}
	100% {top:432px;left:419px;opacity:1;}
}
@-moz-keyframes mdeal02 {
	0% {top:432px;left:480px;opacity:0;}
	100% {top:432px;left:419px;opacity:1;}
}

#lohbsContents .lohbsMobile .mobileDeal.over .m_ico03{
	animation: mdeal03 0.7s ease-in-out;
	-webkit-animation: mdeal03 0.7s ease-in-out;	
	-ms-animation: mdeal03 0.7s ease-in-out;	
	-o-animation: mdeal03 0.7s ease-in-out;	
	-moz-animation: mdeal03 0.7s ease-in-out;
}
@-webkit-keyframes mdeal03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:100px; width:0; height:0;}
	100% {top:248px; left:-71px; width:215px; height:132px;}
}
@-ms-keyframes mdeal03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:100px; width:0; height:0;}
	100% {top:248px; left:-71px; width:215px; height:132px;}
}
@-o-keyframes mdeal03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:100px; width:0; height:0;}
	100% {top:248px; left:-71px; width:215px; height:132px;}
}
@-moz-keyframes mdeal03 {
	0% {top:370px; left:0px; width:0; height:0;}
	50% {top:370px; left:100px; width:0; height:0;}
	100% {top:248px; left:-71px; width:215px; height:132px;}
}

#lohbsContents .lohbsMobile .mobileDeal.over .m_ico04{
	animation: mdeal04 0.8s ease-in-out;
	-webkit-animation: mdeal04 0.8s ease-in-out;	
	-ms-animation: mdeal04 0.8s ease-in-out;	
	-o-animation: mdeal04 0.8s ease-in-out;	
	-moz-animation: mdeal04 0.8s ease-in-out;
}
@-webkit-keyframes mdeal04 {
	0% {top:435px; left:0px; width:0; height:0;}
	80% {top:435px; left:310px; width:0; height:0;}
	100% {top:270px; left:474px; width:214px; height:133px;}
}
@-ms-keyframes mdeal04 {
	0% {top:435px; left:0px; width:0; height:0;}
	80% {top:435px; left:310px; width:0; height:0;}
	100% {top:270px; left:474px; width:214px; height:133px;}
}
@-o-keyframes mdeal04 {
	0% {top:435px; left:0px; width:0; height:0;}
	80% {top:435px; left:310px; width:0; height:0;}
	100% {top:270px; left:474px; width:214px; height:133px;}
}
@-moz-keyframes mdeal04 {
	0% {top:435px; left:0px; width:0; height:0;}
	80% {top:435px; left:310px; width:0; height:0;}
	100% {top:270px; left:474px; width:214px; height:133px;}
}

/* mobileShopping section */
#lohbsContents .lohbsMobile .mobileShopping .m_ico01{width:165px; height:161px; background:url("../images/animation/shopping_ani_01.png") no-repeat; background-size:100%; position:absolute; top:325px; right:410px;}
#lohbsContents .lohbsMobile .mobileShopping .m_ico02{width:149px; height:151px; background:url("../images/animation/shopping_ani_02.png") no-repeat; background-size:100%; position:absolute; top:435px; right:-138px;}
#lohbsContents .lohbsMobile .mobileShopping .m_ico03{width:841px; height:364px; background:url("../images/animation/shopping_ani_03.png") no-repeat; background-size:100%; position:absolute; top:270px; right:-212px;}
#lohbsContents .lohbsMobile .mobileShopping .m_ico04{width:25px; height:37px; background:url("../images/animation/shopping_ani_04.png") no-repeat; background-size:100%; position:absolute; top:375px; right:-100px;}
#lohbsContents .lohbsMobile .mobileShopping.over .m_ico01{	
	-webkit-animation: mshopping 0.7s ease-in-out;	
	-ms-animation: mshopping 0.7s ease-in-out;	
	-o-animation: mshopping 0.7s ease-in-out;	
	-moz-animation: mshopping 0.7s ease-in-out;
}
@-webkit-keyframes mshopping {
	0% {top:325px;right:550px; opacity:0;}
	100% {top:325px;right:410px; opacity:1;}
} 
@-ms-keyframes mshopping {
	0% {top:325px;right:550px; opacity:0;}
	100% {top:325px;right:410px; opacity:1;}
}
@-o-keyframes mshopping {
	0% {top:325px;right:550px; opacity:0;}
	100% {top:325px;right:410px; opacity:1;}
}
@-moz-keyframes mshopping {
	0% {top:325px;right:550px; opacity:0;}
	100% {top:325px;right:410px; opacity:1;}
}

#lohbsContents .lohbsMobile .mobileShopping.over .m_ico02{
	-webkit-animation: mshopping02 1s ease-in-out;	
	-ms-animation: mshopping02 1s ease-in-out;	
	-o-animation: mshopping02 1s ease-in-out;	
	-moz-animation: mshopping02 1s ease-in-out;
}
@-webkit-keyframes mshopping02 {
	0% {top:300px;right:-138px; opacity:0;}
	100% {top:435px;right:-138px; opacity:1;}
}
@-ms-keyframes mshopping02 {
	0% {top:300px;right:-138px; opacity:0;}
	100% {top:435px;right:-138px; opacity:1;}
}
@-o-keyframes mshopping02 {
	0% {top:300px;right:-138px; opacity:0;}
	100% {top:435px;right:-138px; opacity:1;}
}
@-moz-keyframes mshopping02 {
	0% {top:300px;right:-138px; opacity:0;}
	100% {top:435px;right:-138px; opacity:1;}
}

#lohbsContents .lohbsMobile .mobileShopping.over .m_ico03{
	animation: blink 1s step-end infinite;
	-webkit-animation: blink 1s step-end infinite;
}
#lohbsContents .lohbsMobile .mobileShopping.over .m_ico04{
	animation: blink2 1s step-end infinite;
	-webkit-animation: blink2 1s step-end infinite;
}
@keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@-webkit-keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}
@-webkit-keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}

/* mobileStamp section */
#lohbsContents .lohbsMobile .mobileStamp .m_ico01{width:150px; height:150px; background:url("../images/animation/stamp_ani_01.png") no-repeat; background-size:100%; position:absolute; top:315px;left:300px; z-index:2;}
#lohbsContents .lohbsMobile .mobileStamp .m_ico02{width:241px; height:335px; background:url("../images/animation/stamp_ani_02.png") no-repeat; background-size:100%; position:absolute; top:315px;left:350px;}
#lohbsContents .lohbsMobile .mobileStamp .m_ico03{width:104px; height:299px; background:url("../images/animation/stamp_ani_03.png") no-repeat; background-size:100%; position:absolute; top:280px;left:0px;}
#lohbsContents .lohbsMobile .mobileStamp.over .m_ico01{
	-webkit-animation: mstamp01 0.5s ease-in-out;	
	-ms-animation: mstamp01 0.5s ease-in-out;	
	-o-animation: mstamp01 0.5s ease-in-out;	
	-moz-animation: mstamp01 0.5s ease-in-out;
}
@-webkit-keyframes mstamp01 {
	0% {top:285px;left:274px;opacity:0;width:45px;height:45px;}
	100% {top:315px;left:300px;opacity:1;width:150px;height:150px;}
}
@-ms-keyframes mstamp01 {
	0% {top:285px;left:274px;opacity:0;width:45px;height:45px;}
	100% {top:315px;left:300px;opacity:1;width:150px;height:150px;}
}
@-o-keyframes mstamp01 {
	0% {top:285px;left:274px;opacity:0;width:45px;height:45px;}
	100% {top:315px;left:300px;opacity:1;width:150px;height:150px;}
}
@-moz-keyframes mstamp01 {
	0% {top:285px;left:274px;opacity:0;width:45px;height:45px;}
	100% {top:315px;left:300px;opacity:1;width:150px;height:150px;}
}	

#lohbsContents .lohbsMobile .mobileStamp.over .m_ico02{
	-webkit-animation: mstamp02 1.5s ease-in-out;	
	-ms-animation: mstamp02 1.5s ease-in-out;	
	-o-animation: mstamp02 1.5s ease-in-out;	
	-moz-animation: mstamp02 1.5s ease-in-out;
}
@-webkit-keyframes mstamp02 {
	0% {top:200px;left:200px;opacity:0;width:141px;height:235px;}
	100% {top:315px;left:350px;opacity:1;width:241px;height:335px;}
}
@-ms-keyframes mstamp02 {
	0% {top:200px;left:200px;opacity:0;width:141px;height:235px;}
	100% {top:315px;left:350px;opacity:1;width:241px;height:335px;}
}
@-o-keyframes mstamp02 {
	0% {top:200px;left:200px;opacity:0;width:141px;height:235px;}
	100% {top:315px;left:350px;opacity:1;width:241px;height:335px;}
}
@-moz-keyframes mstamp02 {
	0% {top:200px;left:200px;opacity:0;width:141px;height:235px;}
	100% {top:315px;left:350px;opacity:1;width:241px;height:335px;}
}	

#lohbsContents .lohbsMobile .mobileStamp.over .m_ico03{
	-webkit-animation: mstamp03 1s ease-in-out;	
	-ms-animation: mstamp03 1s ease-in-out;	
	-o-animation: mstamp03 1s ease-in-out;	
	-moz-animation: mstamp03 1s ease-in-out;
}
@-webkit-keyframes mstamp03 {
	0% {top:280px;left:200px;opacity:0;width:4px;height:199px;}
	100% {top:280px;left:0px;opacity:1;width:104px;height:299px;}
}
@-ms-keyframes mstamp03 {
	0% {top:280px;left:200px;opacity:0;width:4px;height:199px;}
	100% {top:280px;left:0px;opacity:1;width:104px;height:299px;}
}
@-o-keyframes mstamp03 {
	0% {top:280px;left:200px;opacity:0;width:4px;height:199px;}
	100% {top:280px;left:0px;opacity:1;width:104px;height:299px;}
}
@-moz-keyframes mstamp03 {
	0% {top:280px;left:200px;opacity:0;width:4px;height:199px;}
	100% {top:280px;left:0px;opacity:1;width:104px;height:299px;}
}	

/* mobilePoint section */
#lohbsContents .mobilePoint .m_ico01{width:105px; height:105px; background:url("../images/animation/point_ani_01.png") no-repeat; background-size:100%; position:absolute; top:350px;right:410px; z-index:1;}
#lohbsContents .mobilePoint .m_ico02{width:148px; height:148px; background:url("../images/animation/point_ani_02.png") no-repeat; background-size:100%; position:absolute; top:330px;right:30px; z-index:1;}
#lohbsContents .mobilePoint .m_ico03{width:140px; height:324px; background:url("../images/animation/point_ani_03.png") no-repeat; background-size:100%; position:absolute; left:370px; top:150px;}
#lohbsContents .mobilePoint .m_ico04{width:636px; height:232px; background:url("../images/animation/point_ani_04.png") no-repeat; background-size:100%; position:absolute; right:-20px; top:200px;}
#lohbsContents .lohbsMobile .mobilePoint.over .m_ico01{
	-webkit-animation: mpoint01 0.5s ease-in-out;	
	-ms-animation: mpoint01 0.5s ease-in-out;	
	-o-animation: mpoint01 0.5s ease-in-out;	
	-moz-animation: mpoint01 0.5s ease-in-out;
}
@-webkit-keyframes mpoint01 {
	0% {top:430px;right:380px;opacity:0;width:55px;height:55px;}
	100% {top:350px;right:410px;opacity:1;width:105px;height:105px;}
}
@-ms-keyframes mpoint01 {
	0% {top:430px;right:380px;opacity:0;width:55px;height:55px;}
	100% {top:350px;right:410px;opacity:1;width:105px;height:105px;}
}
@-o-keyframes mpoint01 {
	0% {top:430px;right:380px;opacity:0;width:55px;height:55px;}
	100% {top:350px;right:410px;opacity:1;width:105px;height:105px;}
}
@-moz-keyframes mpoint01 {
	0% {top:430px;right:380px;opacity:0;width:55px;height:55px;}
	100% {top:350px;right:410px;opacity:1;width:105px;height:105px;}
}	

#lohbsContents .lohbsMobile .mobilePoint.over .m_ico02{
	-webkit-animation: mpoint02 0.5s ease-in-out;	
	-ms-animation: mpoint02 0.5s ease-in-out;	
	-o-animation: mpoint02 0.5s ease-in-out;	
	-moz-animation: mpoint02 0.5s ease-in-out;
}
@-webkit-keyframes mpoint02 {
	0% {top:400px;right:130px;opacity:0;width:105px;height:105px;}
	100% {top:330px;right:30px;opacity:1;width:148px;height:148px;}
}
@-ms-keyframes mpoint02 {
	0% {top:400px;right:130px;opacity:0;width:105px;height:105px;}
	100% {top:330px;right:30px;opacity:1;width:148px;height:148px;}
}
@-o-keyframes mpoint02 {
	0% {top:400px;right:130px;opacity:0;width:105px;height:105px;}
	100% {top:330px;right:30px;opacity:1;width:148px;height:148px;}
}
@-moz-keyframes mpoint02 {
	0% {top:400px;right:130px;opacity:0;width:105px;height:105px;}
	100% {top:330px;right:30px;opacity:1;width:148px;height:148px;}
}	

#lohbsContents .lohbsMobile .mobilePoint.over .m_ico03{
	animation: blink 1s step-end infinite;
	-webkit-animation: blink 1s step-end infinite;
}
#lohbsContents .lohbsMobile .mobilePoint.over .m_ico04{
	animation: blink2 1s step-end infinite;
	-webkit-animation: blink2 1s step-end infinite;
}

@keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@-webkit-keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}
@-webkit-keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}

/* mobileTip section */
#lohbsContents .mobileTip .m_ico01{width:157px; height:129px; background:url("../images/animation/tip_ani_01.png") no-repeat; background-size:100%; position:absolute; top:175px; right:270px;}
#lohbsContents .mobileTip .m_ico02{width:166px; height:189px; background:url("../images/animation/tip_ani_02.png") no-repeat; background-size:100%; position:absolute; top:388px; right:-110px;}
#lohbsContents .mobileTip .m_ico03{width:119px; height:119px; background:url("../images/animation/tip_ani_03.png") no-repeat; background-size:100%; position:absolute; top:410px; right:350px;}
#lohbsContents .mobileTip .m_ico04{width:49px; height:290px; background:url("../images/animation/tip_ani_04.png") no-repeat; background-size:100%; position:absolute; top:316px; right:-175px;}
#lohbsContents .mobileTip .m_ico05{width:529px; height:103px; background:url("../images/animation/tip_ani_05.png") no-repeat; background-size:100%; position:absolute; right:-20px; top:200px;}
#lohbsContents .lohbsMobile .mobileTip.over .m_ico01{
	-webkit-animation: mtip01 0.5s ease-in-out;	
	-ms-animation: mtip01 0.5s ease-in-out;	
	-o-animation: mtip01 0.5s ease-in-out;	
	-moz-animation: mtip01 0.5s ease-in-out;
}
@-webkit-keyframes mtip01 {
	0% {top:175px;right:170px;}
	100% {top:175px;right:270px;}
}
@-ms-keyframes mtip01 {
	0% {top:175px;right:170px;}
	100% {top:175px;right:270px;}
}
@-o-keyframes mtip01 {
	0% {top:175px;right:170px;}
	100% {top:175px;right:270px;}
}
@-moz-keyframes mtip01 {
	0% {top:175px;right:170px;}
	100% {top:175px;right:270px;}
}

#lohbsContents .lohbsMobile .mobileTip.over .m_ico02{
	-webkit-animation: mtip02 1s ease-in-out;	
	-ms-animation: mtip02 1s ease-in-out;	
	-o-animation: mtip02 1s ease-in-out;	
	-moz-animation: mtip02 1s ease-in-out;
}
@-webkit-keyframes mtip02 {
	0% {top:388px;right:-110px;opacity:0;}
	100% {top:388px;right:-110px;opacity:1;}
}
@-ms-keyframes mtip02 {
	0% {top:388px;right:-110px;opacity:0;}
	100% {top:388px;right:-110px;opacity:1;}
}
@-o-keyframes mtip02 {
	0% {top:388px;right:-110px;opacity:0;}
	100% {top:388px;right:-110px;opacity:1;}
}
@-moz-keyframes mtip02 {
	0% {top:388px;right:-110px;opacity:0;}
	100% {top:388px;right:-110px;opacity:1;}
}

#lohbsContents .lohbsMobile .mobileTip.over .m_ico03{
	-webkit-animation: mtip03 1s ease-in-out;	
	-ms-animation: mtip03 1s ease-in-out;	
	-o-animation: mtip03 1s ease-in-out;	
	-moz-animation: mtip03 1s ease-in-out;
}
@-webkit-keyframes mtip03 {
	0% {top:410px;right:350px;opacity:0;}
	100% {top:410px;right:350px;opacity:1;}
}
@-ms-keyframes mtip03 {
	0% {top:410px;right:350px;opacity:0;}
	100% {top:410px;right:350px;opacity:1;}
}
@-o-keyframes mtip03 {
	0% {top:410px;right:350px;opacity:0;}
	100% {top:410px;right:350px;opacity:1;}
}
@-moz-keyframes mtip03 {
	0% {top:410px;right:350px;opacity:0;}
	100% {top:410px;right:350px;opacity:1;}
}

#lohbsContents .lohbsMobile .mobileTip.over .m_ico04{
	animation: blink 1s step-end infinite;
	-webkit-animation: blink 1s step-end infinite;
}
#lohbsContents .lohbsMobile .mobileTip.over .m_ico05{
	animation: blink2 1s step-end infinite;
	-webkit-animation: blink2 1s step-end infinite;
}

@keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@-webkit-keyframes blink {
 0% {opacity:0}
 50% {opacity:1}
}
@keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}
@-webkit-keyframes blink2 {
 0% {opacity:1}
 50% {opacity:0}
}

/* mobileMap section */
#lohbsContents .lohbsMobile .mobileMap .m_ico01{width:114px; height:180px; background:url("../images/animation/map_ani_01.png") no-repeat; background-size:100%; position:absolute; left:460px; top:0; opacity:0;}
#lohbsContents .lohbsMobile .mobileMap .m_ico02{width:57px; height:90px; background:url("../images/animation/map_ani_02.png") no-repeat; background-size:100%; position:absolute; left:560px; top:0; opacity:0;}
#lohbsContents .lohbsMobile .mobileMap .m_ico03{width:93px; height:147px; background:url("../images/animation/map_ani_03.png") no-repeat; background-size:100%; position:absolute; left:0; top:0; opacity:0;}
#lohbsContents .lohbsMobile .mobileMap.over .m_ico01{
	opacity:1;
	top:285px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#lohbsContents .lohbsMobile .mobileMap.over .m_ico02{
	opacity:1;
	top:430px;
	transition: all 0.5s ease-in-out 0.3s;
	-webkit-transition: all 0.5s ease-in-out 0.3s;
    -moz-transition: all 0.5s ease-in-out 0.3s;
    -o-transition: all 0.5s ease-in-out 0.3s;
}
#lohbsContents .lohbsMobile .mobileMap.over .m_ico03{
	opacity:1;
	top:400px;
	transition: all 0.5s ease-in-out 0.1s;
	-webkit-transition: all 0.5s ease-in-out 0.1s;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
}

/* ///////////////////////////////////////////////////////////////////////////////// LOHBs STORE */
#lohbsContents .lohbsStore{margin-top:150px; margin-bottom:50px;}
#lohbsContents .lohbsStore h3{font-size:40px; text-align:center; font-weight: normal; margin-bottom:100px; color:#444547;}
#lohbsContents .lohbsStore h3:before{content: ''; position: absolute; top:100px; left:450px; width:70px; height:4px; background:#444547;}
#lohbsContents .lohbsStore .lohbsInfo{height:666px; max-height:100%; margin-top: -150px; padding-top:240px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQYV2OMiYmRZMABGEGSS5YseY5NftBJAgD02Rk1WDhQ+gAAAABJRU5ErkJggg==); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *behavior: url(boxsizing.htc);}
#lohbsContents .lohbsStore .lohbsInfo h4{font-size:20px; color:#ff3300; float:left; line-height: 2;}
#lohbsContents .lohbsStore .lohbsInfo h4:after{clear: both; display: block; content: ''; position: absolute; top: 5px; left: 200px; height:30px; border:1px solid #d3d3d3;}
#lohbsContents .lohbsStore .lohbsInfo .infoWrap{padding-left:240px; line-height: 2;}
#lohbsContents .lohbsStore .lohbsInfo strong{width:100px; display:inline-block; font-size: 14px;}
#lohbsContents .lohbsStore #main_map{width:100%; height:440px; margin-top:55px;}
#lohbsContents .lohbsStore .search_filter{width: 100%; height: 66px;}
#lohbsContents .lohbsStore .search_filter label{display:none;}
#lohbsContents .lohbsStore .search_filter:after{clear: both; display: block; content: '';}
#lohbsContents .lohbsStore .search_filter input:focus{outline: none;}
#lohbsContents .lohbsStore .search_filter input[type=text] {width: 866px; *min-width:866px; height: 66px; *min-height:66px; line-height:1; float: left; border: 4px solid #d2d2d4; border-right: none; padding: 15px 20px; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *behavior: url(boxsizing.htc);}
#lohbsContents .lohbsStore .search_button{width:114px; height: 66px; background-color: #646466; border: none; color: white; padding: 13px 32px; text-align: center; text-decoration: none; font-size: 16px; margin: 0; cursor: pointer;}
#lohbsContents .lohbsStore .search_result{height: 47px; margin-top: 40px; position: relative;}
#lohbsContents .lohbsStore .search_result .count_store{text-align:center; height:45px; line-height:45px;}
#lohbsContents .lohbsStore .search_result .count{color: #ff3300;}
#lohbsContents .lohbsStore .search_result .all_store:before{content:""; display:block; width:18px; height:16px; position:absolute; left:20px; top:15px; background:url(../images/lohbs_ico.png) no-repeat -338px 0px;}
#lohbsContents .lohbsStore .search_result .all_store{position: absolute; width:168px; *min-width:168px; height:45px; line-height:45px; padding-left:55px; top: 0px; right: 0; cursor: pointer; border:1px solid #bbbbbb; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *behavior: url(boxsizing.htc);}
#lohbsContents .lohbsStore table.store_info{width: 100%; margin-top:10px; text-align: center; font-size:12px;}
#lohbsContents .lohbsStore table.store_info th{height:50px; font-size:16px; background:#eee;}
#lohbsContents .lohbsStore table.store_info td{padding:15px 0;}
#lohbsContents .lohbsStore table.store_info th, table.store_info td{padding:5px 0; line-height: 2; border: 1px solid #eee; vertical-align: middle;}

#lohbsContents .lohbsStore .main_store .innerWrap{max-height:483px;}
#lohbsContents .lohbsStore .lohbsInfo .innerWrap{height:inherit;}
#lohbsContents .lohbsStore .search_store{height:100%; margin-top:300px; }
#lohbsContents .lohbsStore .search_store .innerWrap{height:100%;}
#lohbsContents .lohbsStore .search_store .search_wrap{height:100%;}
*+html #lohbsContents .lohbsStore .search_store{height:auto !important;}
*+html #lohbsContents .lohbsStore .search_store .innerWrap{height:auto !important;}
*+html #lohbsContents .lohbsStore .search_store .search_wrap{height:auto !important;}

/* ///////////////////////////////////////////////////////////////////////////////// LOHBs CUSTOMER */
#lohbsContents .lohbsCustomer{margin-top: 150px; margin-bottom:50px;}
#lohbsContents .lohbsCustomer h3{font-size:40px; text-align:center; font-weight: normal; margin-bottom:100px; color:#444547;}
#lohbsContents .lohbsCustomer h3:before{content: ''; position: absolute; top:100px; left:450px; width:70px; height:4px; background:#444547;}
#lohbsContents .lohbsCustomer ul.tabs{height: 70px}
#lohbsContents .lohbsCustomer ul:after{clear:both; display:block; content:'';}
#lohbsContents .lohbsCustomer ul.tabs li{float: left; text-align:center; cursor: pointer; width:16.76666%; height: 70px; line-height: 70px; margin-left: -1px; border: 1px solid #eee; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *behavior: url(boxsizing.htc);}
#lohbsContents .lohbsCustomer ul.tabs li.active{background: #636466; color: #fff; border-bottom: 1px solid #FFFFFF;}
#lohbsContents .lohbsCustomer .tab_container{background: #FFFFFF;}
#lohbsContents .lohbsCustomer .tab_content{display: none;}
#lohbsContents .lohbsCustomer .tab_content em{color:#ff3300; font-weight: bold; margin-left: -26px; margin-right: 15px;}
#lohbsContents .lohbsCustomer .tab_content .ico_arrow{background:url(../images/lohbs_ico.png) no-repeat; background-position:-188px 0px; width:30px; height:22px; position:absolute; right:35px; top:27px;}
#lohbsContents .lohbsCustomer .tab_content .ico_arrow.active{background-position:-220px 0px;}
#lohbsContents .lohbsCustomer .tab_container .tab_content ul {width:100%; margin:0px; padding:0px;}
#lohbsContents .lohbsCustomer .tab_container .tab_content ul li {border-bottom:1px solid #d1d3d4; position:relative; cursor: pointer;}
#lohbsContents .lohbsCustomer .tab_container .tab_content ul li h4{padding:30px; font-weight: normal;}
#lohbsContents .lohbsCustomer .tab_container .tab_content ul p{padding:30px 30px 30px 60px; border-top:1px solid #d1d3d4; background:#f5f5f5;}
#lohbsContents .lohbsCustomer .tab_container .tab_content ul p.answer br{display:block; padding-left:30px;}
#lohbsContents .lohbsCustomer ul li{line-height:1.5;}

.customerWrap .innerWrap{max-height:417px;}
.storeWrap .innerWrap{max-height:772px;}

#lohbsContents .lohbsCustomer .emailCS{margin-bottom:30px;}
#lohbsContents .lohbsCustomer .emailCS ul:after{clear: both; display:block; content: '';}
#lohbsContents .lohbsCustomer .emailCS ul li{float:left; position:relative;}
#lohbsContents .lohbsCustomer .emailCS ul li.csMail{float:right; font-size:20px;}
#lohbsContents .lohbsCustomer .emailCS ul li span{color:#a0a0a0;}

#lohbsContents .lohbsCustomer .callCS {margin-bottom:30px;}
#lohbsContents .lohbsCustomer .callCS ul:after{clear: both; display:block; content: '';}
#lohbsContents .lohbsCustomer .callCS ul li{float:left; position:relative;}
#lohbsContents .lohbsCustomer .callCS ul li.csCall{float:right; font-size:20px;}

#lohbsContents .lohbsCustomer .directCS {margin-bottom:30px;}
#lohbsContents .lohbsCustomer .directCS ul:after{clear: both; display:block; content: '';}
#lohbsContents .lohbsCustomer .directCS ul li{float:left; position:relative;}
#lohbsContents .lohbsCustomer .directCS ul li.goStore{float:right;}
#lohbsContents .lohbsCustomer .directCS ul li.goStore a{display:block;}
#lohbsContents .lohbsCustomer .directCS ul li.goStore ul li{margin-left:5px;}
#lohbsContents .lohbsCustomer .directCS ul li.goStore ul li img{width:189px; height:45px;}
#lohbsContents .lohbsCustomer .directCS ul li span{color:#a0a0a0;}

#lohbsContents .lohbsCustomer .joinCS {margin-bottom:30px;}
#lohbsContents .lohbsCustomer .joinCS ul:after{clear: both; display:block; content: '';}
#lohbsContents .lohbsCustomer .joinCS ul li{float:left; position:relative;}
#lohbsContents .lohbsCustomer .joinCS ul li.joinMail{float:right; font-size:20px;}

#lohbsContents .lohbsCustomer .joinCS .joinStep{width:960px; margin:105px auto 0;}
#lohbsContents .lohbsCustomer .joinCS .joinStep:after{clear: both; display:block; content: '';}
#lohbsContents .lohbsCustomer .joinCS .joinStep li{width: 172px; float:left; text-align: center; position:relative; margin-right:20px;}
#lohbsContents .lohbsCustomer .joinCS .joinStep li:after{display:block; content:''; background:url(../images/lohbs_ico.png) no-repeat; background-position: -162px 0px; width:16px; height:26px; position:absolute; top:105px; right:-20px;}
#lohbsContents .lohbsCustomer .joinCS .joinStep li:nth-child(5):after{display:none;}
#lohbsContents .lohbsCustomer .joinCS .joinStep li h4{font-size:20px; margin-bottom:20px;}
#lohbsContents .lohbsCustomer .joinCS .joinStep li img{width:140px; height:140px; margin-bottom:20px;}
#lohbsContents .lohbsCustomer .joinCS .joinCall{margin-top:105px;}
#lohbsContents .lohbsCustomer .joinCS .joinCallNum{font-size:20px;}

#lohbsContents .lohbsCustomer .csTitle{font-size: 20px; color: #ff3300; width:150px; font-weight:bold; margin-right:30px;}
#lohbsContents .lohbsCustomer .csTitle:after{display:block; content: ''; position: absolute; right: 0; top: 0; height: 100%; background: #a0a0a0; width: 1px;}
#lohbsContents .lohbsCustomer .storeWrap{margin-top: 150px;}
#lohbsContents .lohbsCustomer .faqWrap{margin-top: 100px; padding-bottom:100px;}
#lohbsContents .lohbsCustomer .faqWrap:before{display:block; content:''; border:1px dotted #ddd; width:980px; margin:0 auto 100px;}
*+html #lohbsContents .lohbsCustomer .faqWrap .innerWrap{height:auto !important;}

#lohbsContents .cardGuide{height:554px; background: #42b1b8; color:#fff;}
#lohbsContents .cardGuide em{color:#ff0; font-weight: bold; font-style:normal;}
#lohbsContents .cardGuide .card_img{background:url(../images/etc/card.png) no-repeat; background-size:436px 350px; width:460px; height:350px; position:absolute; right:0; top:105px;}
#lohbsContents .cardGuide h4{position:absolute; top: 100px; font-size: 40px; font-weight:bold;}
#lohbsContents .cardGuide p:nth-child(2){position:absolute; top: 185px; line-height:2;}
#lohbsContents .cardGuide p:nth-child(3){position:absolute; top: 250px; line-height:1.5; font-size:12px; color:#235f62;}
#lohbsContents .cardGuide p.card_pop{position:absolute; top: 350px; background:#fff; width:265px; height:45px; line-height:45px; text-align:center; color:#42b1b8; cursor: pointer}
#lohbsContents .cardGuide p.card_pop a{color:#42b1b8; display:block;}
#lohbsContents .cardGuide p.card_pop span{background: url(../images/btn/r_ico.png) no-repeat; background-size:14px 14px; margin-left:10px; background-position: 0 14px; display:inline-block; width:14px; text-indent: -9999px;}


/* LOHBs FOOTER */
#lohbsFooter{height:210px; padding-top: 90px; text-align: left; line-height: 1.7; background:#dedee0;}
#lohbsFooter .innerWrap{max-height:210px;}
#lohbsFooter .lohbsTerms{position:absolute; top:0; left:0;}
#lohbsFooter .lohbsTerms ul:after{clear: both; content: ''; display: block;}
#lohbsFooter .lohbsTerms ul li{width:200px; margin-right:4px; float:left; padding:7px 0; text-align:center; border:1px solid #b5b5b7;}
#lohbsFooter .lohbsTerms ul li a{display:block;}
#lohbsFooter .lohbsFamily{width:200px; height:40px; float:right; margin-bottom:30px;}
#lohbsFooter .lohbsFamily .familyList {position: absolute; top: -260px; right: 0px; padding:10px 0 0 15px; overflow-y: auto; display: none; height: 250px; width: 183px; border: 1px solid #bbb; background: #fff; z-index: 1;}
#lohbsFooter address{clear:both; font-style: normal;}


/* error page*/
.lohbs_wrap{width:980px; margin:0 auto; padding:30px;}
.lohbs_wrap .contents{border:1px solid #d2d4d3; text-align:center; position:relative; padding: 100px 0;}
.lohbs_wrap .logo{width:110px; position:absolute; top:30px; left:30px;}
.lohbs_wrap .logo img{width:100%}
.lohbs_wrap .caution_ico{width:115px;}
.lohbs_wrap .con_head p{font-size:40px; color:#000; margin:20px 0; line-height: 1.2;}
.lohbs_wrap .con_head:after{width:70px; height:4px; margin:30px auto; background:#000; display:block; content:'';}
.lohbs_wrap .con_body p{font-size:16px; color:#000; line-height: 1.5;}
.lohbs_wrap .cs{padding:40px 0;}
.lohbs_wrap .cs ul{display: inline-block; *display:inline; zoom:1;}
.lohbs_wrap .cs ul:after{clear:both; display:block; content:'';}
.lohbs_wrap .cs ul li{float:left;}
.lohbs_wrap .cs ul li:nth-child(1){margin-right:20px; padding-right:20px; border-right:2px solid #000;}
.lohbs_wrap .main_btn{width:250px; height:60px; line-height:60px; margin:0 auto; display:block; padding: 0 20px; background:#333; color:#fff; font-size:20px;}